body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#main_map {
    height: 600px
}

body {
    padding: 50px;
    padding-top: 5rem;
}