extends ../layout

block content
    a(href='/bicicletas') Volver

    br
    br
    br

    h1 Nueva bicicleta

    br
    br

    form(action="/bicicletas/create" method="post")
        label(for='id') ID:
        input(type="text" name="id")
        br
        label(for='color') Color:
        input(type="text" name="color")
        br
        label(for='modelo') Modelo:
        input(type="text" name="modelo")
        br
        label(for='lat') Latitud:
        input(type="text" name="lat")
        br
        label(for='lng') Longuitud:
        input(type="text" name="lng")
        br
        input.btn(type="submit" value="ok")
